<div class="row">
  <div class="col" style="text-align: center">
    <h1>Usuarios</h1>
    <mat-tab-group (focusChange)="myTabFocusChange($event)" style="align-self: center">
      <mat-tab label="Agregar Usuarios">
        <div class="form">
          <app-fomulario-usuario></app-fomulario-usuario>
        </div>
      </mat-tab>

      <mat-tab label="Ver Usuarios">
        <div style="display: grid" class="mat-table">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre.</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre | titlecase }} </td>
            </ng-container>

            <ng-container matColumnDef="apellido_paterno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Paterno</th>
              <td mat-cell *matCellDef="let element;"> {{element.apellido_paterno | titlecase }} </td>
            </ng-container>

            <ng-container matColumnDef="apellido_materno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno</th>
              <td mat-cell *matCellDef="let element"> {{element.apellido_materno}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="sucursal_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sucursal</th>
              <td mat-cell *matCellDef="let element"> {{element.sucursal_id  }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-outline-primary" (click)="openDialog(element)" mat-button><i
                  class="fa fa-pencil fa-fw"></i></button>
                <!-- <button class="btn btn-outline-danger" (click)="deleteSucursal(element)" mat-button><i
                   class="fa fa-trash-o"></i></button>--->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="dataSource.data.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
