<form [formGroup]="form" (submit)="enviarFormulario()" class="text-align-center" style="display: grid">
  <mat-form-field appearance="fill">
    <mat-label>Denominaión</mat-label>
    <input type="text" formControlName="denominacion" matInput>
    <mat-error *ngIf="getControl('denominacion').hasError('pattern') && !getControl('denominacion').hasError('required')">
      *El campo Denominación no es válido.
    </mat-error>
    <mat-error *ngIf="getControl('denominacion').hasError('required')">
      *El campo Denominación es obligatorio.
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Asesor</mat-label>
    <mat-select formControlName="asesor_id">
      <mat-option *ngFor="let option of optionsUsuarios" [value]="option.id">
        {{ option.nombre_usuario }} {{ option.apellido_paterno }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="getControl('asesor_id').hasError('required')">
      *El campo Asesor es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sucursal</mat-label>
    <mat-select formControlName="sucursal_id">
      <mat-option *ngFor="let option of optionsSucursales" [value]="option.id">
        {{ option.nombre }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="getControl('sucursal_id').hasError('required')">
      *El campo Sucursal es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Factura</mat-label>
    <mat-select formControlName="requiere_factura" matInput>
      <mat-option *ngFor="let option of optionsFacturas" [value]="option.value">
        {{ option.option }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="getControl('requiere_factura').hasError('required')">
      *El campo Factura es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="text" formControlName="email" matInput>
    <mat-error *ngIf="getControl('email').hasError('email') && !getControl('email').hasError('required')">
      *El campo Email no es válido.
    </mat-error>
    <mat-error *ngIf="getControl('email').hasError('required')">
      *El campo Email es obligatorio.
    </mat-error>
  </mat-form-field>
  <button type="submit" style="margin-bottom: 1em;" mat-raised-button color="primary">Enviar Información</button>
</form>
