<mat-sidenav-container class="example-container" style="height: 100%">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-selection-list [multiple]="false" role="list">
            <mat-list-option (click)="sidenav.close()" [routerLink]="['sucursales']">
              <mat-icon style="display: contents">store</mat-icon>
              Sucursales
            </mat-list-option>
            <mat-list-option (click)="sidenav.close()" [routerLink]="['usuarios']">
              <mat-icon style="display: contents">support_agent</mat-icon>
              Usuarios
            </mat-list-option>
            <mat-list-option (click)="sidenav.close()" [routerLink]="['clientes']">
              <mat-icon style="display: contents">group</mat-icon>
              Clientes
            </mat-list-option>
            <mat-list-option (click)="sidenav.close();generateNewToken()">
              <mat-icon style="display: contents">vpn_key</mat-icon>
              Generar llave
            </mat-list-option>

            <mat-list-option (click)="sidenav.close();logout()">
              <mat-icon style="display: contents">logout</mat-icon>
              Cerrar sesión
            </mat-list-option>

          </mat-selection-list>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon color="primary">menu</mat-icon>
      </button>
    </div>
    <div style="margin: auto 5em 5em 5em" class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
