<mat-sidenav-container class="example-container" style="height: 100%">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-selection-list [multiple]="false" role="list">
            <mat-list-option (click)="sidenav.close()" [routerLink] = "['sucursales']">Sucursales</mat-list-option>
            <mat-list-option (click)="sidenav.close()" [routerLink] = "['usuarios']">Usuarios</mat-list-option>
            <mat-list-option >---------</mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-button (click)="sidenav.toggle()"><mat-icon color="primary">menu</mat-icon></button>
    </p>
    <div style="margin: auto 5em 5em 5em" class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
